@{
    ViewData["Title"] = "Productlist";
}
@model List<Product>
<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Description
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Description
                </td>
            </tr>

        }

    </tbody>
    </table>









<h1>Productlist</h1>

